<?php

session_start();

$loggedin = true;

if(uri_string() == 'blogcont'){
	if(!isset($_SESSION['loggedin']))

		$loggedin = false;

}

else{

	if(!isset($_SESSION['loggedin'])){

		$loggedin = false;

		redirect('blogcont/', 'refresh');

	}

	else{

		$timeout = 600;

		$duration = time() - (int)$_SESSION['time'];

		if($duration > $timeout){

			unset($_SESSION['loggedin']);

			$loggedin = false;

			echo '<h1> Session timed out. </h1>';

			redirect('blogcont/', 'refresh');
			die;
		}

		else{

			$_SESSION['time'] = time();
		}
	}

}

?>
<link rel="stylesheet" href="<?php echo base_url().'bootstrap/bootstrap.min.css'; ?>">
<script src="<?php echo base_url().'bootstrap/bootstrap.min.js'; ?>"></script>

<style>

</style>

<hr/>

<div class="container" style="margin-left: 20px; margin-right: 20px; color: #777">

	<?php if($loggedin): ?>

	<h4 style="float: left !important">Blog Portal ( Logged in as <?php echo $this->session->userdata('username') ?>) </h4>

<?php else: ?>

	<h4 style="float: left !important">Blog Portal</h4>

<?php endif; ?>

<ul class="nav nav-pills" style="float: right !important">

	<li><a href="<?php echo site_url('blogcont/'); ?>">Blog</a></li>

	<?php if($loggedin): ?>

	<li><a href="<?php echo site_url('newpostcont/'); ?>">New Post</a></li>

<?php endif; ?>

<?php if($this->session->userdata('privilege') < $this->session->userdata('threshpriv')): ?>

	<li><a href="<?php echo site_url('adminportalcont/'); ?>">Admin Portal</a></li>

<?php endif ?>

<?php if($loggedin): ?>

	<li><a href="<?php echo site_url('auth/logout'); ?>">Logout</a></li>

<?php else: ?>

	<li><a href="<?php echo site_url('auth/'); ?>">Login</a></li>

<?php endif; ?>

</ul>

</div>

<hr/>